*{
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #373B44; 
    background: -webkit-linear-gradient(to right, #f3e9dc, #c08552);  
    background: linear-gradient(to right, #f3e9dc, #c08552); 
    

    font-family: 'Roboto', sans-serif;
    color: #ffffff;
  }
  
  header {
    padding: 32px 0;
    text-align: center;
  }
  header h1{
    margin-bottom: 4px;
  }

  #subtitle{
    font-family: 'Roboto Mono', monospace;
    opacity: 0.9;
  }
  
  header, .container, #footer{
    margin: 0 auto;
    max-width: 400px;
  }
  
  .container{
    margin-bottom: 24px;
    padding: 16px;
    background-color: #f8f8ff;
    border-radius: 16px 0px;
  }

  #form{
    display: grid;
    grid: 'value input'
    'value input'
    'value input'
    'btn btn';
    padding: 5px;

  } 
  #form > div {
    justify-items: start;
    align-items: center;
    margin-bottom: 30px;
  }

  .options, .optionsvalue{
    padding: 10px;
  }

  .typeInput{
    border-radius: 5px;
    height: 50px;
    grid-area: input;
    width: 100%;
    text-align: justify;
    font-size: 18px;
    padding: 5px;
  }

  .conversor {
    color: #00082f;
    font-size: 20px;
    grid-area: value;
    text-align: center;
    left-margin: 5px;
  }

  #valuedegree{
    left-margin: 5px;
  }

  .botao{
    text-align: center;
  }
           
  #btn {
    border: none;
    background-image: linear-gradient(to right, #c08552 0%, #f3e9dc  60%, #c08552  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    grid-area: btn;
    cursor: pointer;
    
  }

  #btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
 
  div p, h2{
    color: #00082f;
  }
  #teste, #footer{
    font-size: 12px;
    opacity: 0.8;
    padding-top: 8px;
  }
  h2{
    margin: 15px;
    pading: 5px;
    text-align: center;
  }
  #footer{
    text-align: center;
  }
  a{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
  a:hover{
    color: black;
  }
  
  #result{
    color: black;
    margin:10px;
    padding:10px;
  }
